* {
    margin: 0;
    padding: 0;
    font-family: 'Overpass Mono', 'IBM Plex Mono', monospace;
}

:root {
  --2hms: 200ms;
  --4hms: 400ms;
  --5hms: 500ms;
  --6hms: 600ms;
}

html {
    background-color: #072d17;
    color: lightgray;
    scroll-behavior: smooth;
}

.zLogoPath {
    height: 44px;
    fill: none;
    overflow: visible;
    stroke-linejoin: bevel;
  }
  
  .zLogoPath .before {
    transition:
      d var(--4hms);
  }
  
  .zLogoPath:hover .before {
    transition:
      d var(--4hms) var(--2hms);
  }
  
  .zLogoPath:hover .after {
    transition:
      opacity var(--4hms),
      d var(--4hms);
  }
  
  .zLogoPath.clicked .after {
    transition:
      opacity  var(--4hms) var(--5hms),
      d var(--4hms) var(--6hms);
  }
  
  .after,
  [class^="close"] {
    opacity: 0;
  }
  
  .zLogoPath:hover .topLine.before {
    d: path("M48,4 L68,14 L48,24");
  }
  
  .zLogoPath:hover [class^="close"] {
    stroke: lightgreen;
  }
  
  .zLogoPath [class^="close"] {
    transition:
      opacity  var(--4hms) var(--2hms),
      d var(--4hms) var(--2hms);
  }
  
  .zLogoPath:hover .midLine.before {
    d: path("M26,26 L44,2");
  }
  
  .zLogoPath:hover .botLine.before {
    d: path("M22,4 L2,14 L22,24");
  }
  
  .zLogoPath.clicked .topLine.before {
    d: path("M88,2 L108,2 L108,22");
  }
  
  .zLogoPath.clicked .midLine.before {
  /*   opacity: 0; */
    d: path("M48,2 L68,2");
  }
  
  .zLogoPath.clicked .botLine.before {
  /*   opacity: 0; */
    d: path("M28,2 L8,2 L8,22");
  }
  
  .zLogoPath.clicked .close1 {
    opacity: 1;
    d: path("M12,6 L24,18");
  }
  
  .zLogoPath.clicked .close2 {
    opacity: 1;
    d: path("M12,18 L24,6");
  }
  
  .zLogoPath.clicked .midLine.after {
    opacity: 1;
    d: path("M48,102 L68,102");
  }
  
  .zLogoPath.clicked .sideLine1.after {
    opacity: 1;
    d: path("M8,42 L8,62");
  }
  
  .zLogoPath.clicked .sideLine2.after {
    opacity: 1;
    d: path("M108,42 L108,62");
  }
  
  .zLogoPath.clicked .botLine1.after {
    opacity: 1;
    d: path("M8,82 L8,102 L28,102");
  }
  
  .zLogoPath.clicked .botLine2.after {
    opacity: 1;
    d: path("M88,102 L108,102 L108,82");
  }
  
  .zLogoPath .bg.after {
    transition:
      opacity var(--4hms),
      d var(--4hms);
  }
  
  .zLogoPath.clicked .bg.after {
    opacity: 1;
    d: path("M8,2 L108,2 L108,102 L8,102z");
    transition:
      opacity  var(--4hms) var(--5hms),
      d var(--4hms) var(--6hms);
  }

.container {
  display: flex;
  flex-flow: column nowrap;
}

.container > *:not(:first-child):not(:last-child) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex-basis: 90vh;
}

.container > *:not(:first-child):not(:last-child):nth-child(even) {
  background-color: #375a47;
}

.headerLogo {
  position: absolute;
  left: 4vw;
  overflow: visible;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: visible;
}

.header,
.footer {
  background-color: #141312;
  display: flex;
  padding: 4vh;
}

.footer {
  justify-content: center;
  max-height: 4vw;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  text-decoration: none;
  list-style: none;
  gap: 10px;
	padding-left: 50px;
}

/* .navbar  */
a:link,
/* .navbar  */
a:visited
 {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

/* .navbar  */
a:hover {
  color: #375a47;
}

/* .navbar  */
a:active {
  color: #141312;
}

.footer img {
  background-color: #375a47;
  border-radius: 100%;
  height: 18px;
  width: auto;
}

.toTop {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 2vw;
  right: 2vw;
  background-color:#141312;
  color: inherit;
  font-size: 32px;
	font-weight: 1000;
  text-align: center;
	box-shadow: 1px 1px 2px gray;
	border-radius: 40px;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
