* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #072d17;
    color: lightgray;
}

.zCodeLogo {
    height: 8vh;
    stroke: darkgreen;
    stroke-linecap: round;
    stroke-width: 2px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
}

.container > *:not(:first-child):not(:last-child) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex-basis: 90vh;
    border-color: lightgray;
    border-width: 4px;
    /* border-style: solid; */
}

.container > *:not(:first-child):not(:last-child):nth-child(even) {
    background-color: #375a47;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header,
.footer {
    background-color: #141312;
    display: flex;
    padding: 2vh;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
    list-style: none;
    gap: 10px;
}

.navbar a:link,
.navbar a:visited
 {
    color: inherit;
    text-decoration: none;
    list-style: none;
}

.navbar a:hover {
    color: #375a47;
}

.navbar a:active {
    color: #072d17;
}

.footer {
    justify-content: center;
}

.footer a {
    margin-left: 4px;
}

.footer img {
    height: 16px;
    width: auto;
}
